##### Learn various methods of DataFrame
##### Learb iloc[]   loc[]
##### read_csv("", header=None)

In [ ]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib as plt

In [9]:
random_ndarray = np.random.randn(2,5)
random_ndarray

array([[-1.25574049, -0.66281205,  0.43290685,  1.09293686,  0.93238035],
       [ 0.42113026, -1.886413  , -3.0758186 ,  1.25358303, -0.28549485]])

In [27]:
dataframe = pd.DataFrame(random_ndarray)
dataframe

         0         1         2         3         4
0 -1.25574 -0.662812  0.432907  1.092937  0.932380
1  0.42113 -1.886413 -3.075819  1.253583 -0.285495

In [30]:
hmm = dataframe.values
hmm
hmm[0:2,1:4]

array([[-0.66281205,  0.43290685,  1.09293686],
       [-1.886413  , -3.0758186 ,  1.25358303]])

In [72]:
dataframe[0:2,1:4]

TypeError: unhashable type: 'slice'

In [36]:
type(dataframe.values)

numpy.ndarray

In [38]:
type(dataframe.iloc[:,:])

pandas.core.frame.DataFrame

In [76]:
dataframe_named = pd.DataFrame(random_ndarray , index=['cat', 'dog'], columns=['A','B','C','D','E'])
dataframe_named

           A         B         C         D         E
cat -1.25574 -0.662812  0.432907  1.092937  0.932380
dog  0.42113 -1.886413 -3.075819  1.253583 -0.285495

In [52]:
diabetes_df = pd.read_csv("pima-indians-diabetes.csv", header=None)
diabetes_df

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
5     5  116  74   0    0  25.6  0.201  30  0
6     3   78  50  32   88  31.0  0.248  26  1
7    10  115   0   0    0  35.3  0.134  29  0
8     2  197  70  45  543  30.5  0.158  53  1
9     8  125  96   0    0   0.0  0.232  54  1
10    4  110  92   0    0  37.6  0.191  30  0
11   10  168  74   0    0  38.0  0.537  34  1
12   10  139  80   0    0  27.1  1.441  57  0
13    1  189  60  23  846  30.1  0.398  59  1
14    5  166  72  19  175  25.8  0.587  51  1
15    7  100   0   0    0  30.0  0.484  32  1
16    0  118  84  47  230  45.8  0.551  31  1
17    7  107  74   0    0  29.6  0.254  31  1
18    1  103  30  38   83  43.3  0.183  33  0
19    1  115  70  30   96  34.6  0.529  32  1
20    3  126  88  41  235  39.3  0.704  27  0
21    8   99  84   0    0  35.4  0.388  50  0
22    7  196  90   0    0  39.8  0.451  41  1
23    9  119  80  35    0  29.0  0.263  29  1
24   11  143  94  33  146  36.6  0.254  51  1
25   10  125  70  26  115  31.1  0.205  41  1
26    7  147  76   0    0  39.4  0.257  43  1
27    1   97  66  15  140  23.2  0.487  22  0
28   13  145  82  19  110  22.2  0.245  57  0
29    5  117  92   0    0  34.1  0.337  38  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
738   2   99  60  17  160  36.6  0.453  21  0
739   1  102  74   0    0  39.5  0.293  42  1
740  11  120  80  37  150  42.3  0.785  48  1
741   3  102  44  20   94  30.8  0.400  26  0
742   1  109  58  18  116  28.5  0.219  22  0
743   9  140  94   0    0  32.7  0.734  45  1
744  13  153  88  37  140  40.6  1.174  39  0
745  12  100  84  33  105  30.0  0.488  46  0
746   1  147  94  41    0  49.3  0.358  27  1
747   1   81  74  41   57  46.3  1.096  32  0
748   3  187  70  22  200  36.4  0.408  36  1
749   6  162  62   0    0  24.3  0.178  50  1
750   4  136  70   0    0  31.2  1.182  22  1
751   1  121  78  39   74  39.0  0.261  28  0
752   3  108  62  24    0  26.0  0.223  25  0
753   0  181  88  44  510  43.3  0.222  26  1
754   8  154  78  32    0  32.4  0.443  45  1
755   1  128  88  39  110  36.5  1.057  37  1
756   7  137  90  41    0  32.0  0.391  39  0
757   0  123  72   0    0  36.3  0.258  52  1
758   1  106  76   0    0  37.5  0.197  26  0
759   6  190  92   0    0  35.5  0.278  66  1
760   2   88  58  26   16  28.4  0.766  22  0
761   9  170  74  31    0  44.0  0.403  43  1
762   9   89  62   0    0  22.5  0.142  33  0
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [53]:
type(diabetes_df)

pandas.core.frame.DataFrame

In [58]:
diabetes_df.head(5)

   0      1   2   3    4     5      6   7  8
0  6  148.0  72  35    0  33.6  0.627  50  1
1  1   85.0  66  29    0  26.6  0.351  31  0
2  8  183.0  64   0    0  23.3  0.672  32  1
3  1   89.0  66  23   94  28.1  0.167  21  0
4  0  137.0  40  35  168  43.1  2.288  33  1

In [69]:
diabetes_df.iloc[0:3,1:5]

       1   2   3  4
0  148.0  72  35  0
1   85.0  66  29  0
2  183.0  64   0  0

In [70]:
diabetes_df[[0]] = diabetes_df[[0]].replace(0, np.NaN)
diabetes_df.head(5)

     0      1   2   3    4     5      6   7  8
0  6.0  148.0  72  35    0  33.6  0.627  50  1
1  1.0   85.0  66  29    0  26.6  0.351  31  0
2  8.0  183.0  64   0    0  23.3  0.672  32  1
3  1.0   89.0  66  23   94  28.1  0.167  21  0
4  NaN  137.0  40  35  168  43.1  2.288  33  1

In [64]:
listu = np.random.randn(2,5).tolist()
print(listu)

[[0.6408225926766241, 1.371546563124969, 0.08592306337574114, -0.46552369144577394, 0.3956771478105323], [-0.07209127420844158, -1.1654478847956709, -0.7791859403441409, 0.9919044677588251, -0.31747941231073684]]

** list[[]] does not work **

In [65]:
listu[[0,1]]

TypeError: list indices must be integers or slices, not list

** DataFrame[[]] does work **

In [71]:
diabetes_df[[0,1]]

        0      1
0     6.0  148.0
1     1.0   85.0
2     8.0  183.0
3     1.0   89.0
4     NaN  137.0
5     5.0  116.0
6     3.0   78.0
7    10.0  115.0
8     2.0  197.0
9     8.0  125.0
10    4.0  110.0
11   10.0  168.0
12   10.0  139.0
13    1.0  189.0
14    5.0  166.0
15    7.0  100.0
16    NaN  118.0
17    7.0  107.0
18    1.0  103.0
19    1.0  115.0
20    3.0  126.0
21    8.0   99.0
22    7.0  196.0
23    9.0  119.0
24   11.0  143.0
25   10.0  125.0
26    7.0  147.0
27    1.0   97.0
28   13.0  145.0
29    5.0  117.0
..    ...    ...
738   2.0   99.0
739   1.0  102.0
740  11.0  120.0
741   3.0  102.0
742   1.0  109.0
743   9.0  140.0
744  13.0  153.0
745  12.0  100.0
746   1.0  147.0
747   1.0   81.0
748   3.0  187.0
749   6.0  162.0
750   4.0  136.0
751   1.0  121.0
752   3.0  108.0
753   NaN  181.0
754   8.0  154.0
755   1.0  128.0
756   7.0  137.0
757   NaN  123.0
758   1.0  106.0
759   6.0  190.0
760   2.0   88.0
761   9.0  170.0
762   9.0   89.0
763  10.0  101.0
764   2.0  122.0
765   5.0  121.0
766   1.0  126.0
767   1.0   93.0

[768 rows x 2 columns]

In [80]:
diabetes_df[0]

0       6.0
1       1.0
2       8.0
3       1.0
4       NaN
5       5.0
6       3.0
7      10.0
8       2.0
9       8.0
10      4.0
11     10.0
12     10.0
13      1.0
14      5.0
15      7.0
16      NaN
17      7.0
18      1.0
19      1.0
20      3.0
21      8.0
22      7.0
23      9.0
24     11.0
25     10.0
26      7.0
27      1.0
28     13.0
29      5.0
       ...
738     2.0
739     1.0
740    11.0
741     3.0
742     1.0
743     9.0
744    13.0
745    12.0
746     1.0
747     1.0
748     3.0
749     6.0
750     4.0
751     1.0
752     3.0
753     NaN
754     8.0
755     1.0
756     7.0
757     NaN
758     1.0
759     6.0
760     2.0
761     9.0
762     9.0
763    10.0
764     2.0
765     5.0
766     1.0
767     1.0
Name: 0, Length: 768, dtype: float64

In [81]:
diabetes_df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [85]:
diabetes_df

        0      1   2   3    4     5      6   7  8
0     6.0  148.0  72  35    0  33.6  0.627  50  1
1     1.0   85.0  66  29    0  26.6  0.351  31  0
2     8.0  183.0  64   0    0  23.3  0.672  32  1
3     1.0   89.0  66  23   94  28.1  0.167  21  0
4     NaN  137.0  40  35  168  43.1  2.288  33  1
5     5.0  116.0  74   0    0  25.6  0.201  30  0
6     3.0   78.0  50  32   88  31.0  0.248  26  1
7    10.0  115.0   0   0    0  35.3  0.134  29  0
8     2.0  197.0  70  45  543  30.5  0.158  53  1
9     8.0  125.0  96   0    0   0.0  0.232  54  1
10    4.0  110.0  92   0    0  37.6  0.191  30  0
11   10.0  168.0  74   0    0  38.0  0.537  34  1
12   10.0  139.0  80   0    0  27.1  1.441  57  0
13    1.0  189.0  60  23  846  30.1  0.398  59  1
14    5.0  166.0  72  19  175  25.8  0.587  51  1
15    7.0  100.0   0   0    0  30.0  0.484  32  1
16    NaN  118.0  84  47  230  45.8  0.551  31  1
17    7.0  107.0  74   0    0  29.6  0.254  31  1
18    1.0  103.0  30  38   83  43.3  0.183  33  0
19    1.0  115.0  70  30   96  34.6  0.529  32  1
20    3.0  126.0  88  41  235  39.3  0.704  27  0
21    8.0   99.0  84   0    0  35.4  0.388  50  0
22    7.0  196.0  90   0    0  39.8  0.451  41  1
23    9.0  119.0  80  35    0  29.0  0.263  29  1
24   11.0  143.0  94  33  146  36.6  0.254  51  1
25   10.0  125.0  70  26  115  31.1  0.205  41  1
26    7.0  147.0  76   0    0  39.4  0.257  43  1
27    1.0   97.0  66  15  140  23.2  0.487  22  0
28   13.0  145.0  82  19  110  22.2  0.245  57  0
29    5.0  117.0  92   0    0  34.1  0.337  38  0
..    ...    ...  ..  ..  ...   ...    ...  .. ..
738   2.0   99.0  60  17  160  36.6  0.453  21  0
739   1.0  102.0  74   0    0  39.5  0.293  42  1
740  11.0  120.0  80  37  150  42.3  0.785  48  1
741   3.0  102.0  44  20   94  30.8  0.400  26  0
742   1.0  109.0  58  18  116  28.5  0.219  22  0
743   9.0  140.0  94   0    0  32.7  0.734  45  1
744  13.0  153.0  88  37  140  40.6  1.174  39  0
745  12.0  100.0  84  33  105  30.0  0.488  46  0
746   1.0  147.0  94  41    0  49.3  0.358  27  1
747   1.0   81.0  74  41   57  46.3  1.096  32  0
748   3.0  187.0  70  22  200  36.4  0.408  36  1
749   6.0  162.0  62   0    0  24.3  0.178  50  1
750   4.0  136.0  70   0    0  31.2  1.182  22  1
751   1.0  121.0  78  39   74  39.0  0.261  28  0
752   3.0  108.0  62  24    0  26.0  0.223  25  0
753   NaN  181.0  88  44  510  43.3  0.222  26  1
754   8.0  154.0  78  32    0  32.4  0.443  45  1
755   1.0  128.0  88  39  110  36.5  1.057  37  1
756   7.0  137.0  90  41    0  32.0  0.391  39  0
757   NaN  123.0  72   0    0  36.3  0.258  52  1
758   1.0  106.0  76   0    0  37.5  0.197  26  0
759   6.0  190.0  92   0    0  35.5  0.278  66  1
760   2.0   88.0  58  26   16  28.4  0.766  22  0
761   9.0  170.0  74  31    0  44.0  0.403  43  1
762   9.0   89.0  62   0    0  22.5  0.142  33  0
763  10.0  101.0  76  48  180  32.9  0.171  63  0
764   2.0  122.0  70  27    0  36.8  0.340  27  0
765   5.0  121.0  72  23  112  26.2  0.245  30  0
766   1.0  126.0  60   0    0  30.1  0.349  47  1
767   1.0   93.0  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]