In [13]:
import numpy as np
import pandas as pd

#help(pd.date_range)

pandas_dates = pd.date_range(start='20181201', periods=5)
pandas_datespandas_dates = pd.date_range(start='20181201', end='20181231')
pandas_dates

DatetimeIndex(['2018-12-01', '2018-12-02', '2018-12-03', '2018-12-04',
               '2018-12-05'],
              dtype='datetime64[ns]', freq='D')

In [12]:
pandas_dates = pd.date_range(start='20181201', end='20181231')
pandas_dates

DatetimeIndex(['2018-12-01', '2018-12-02', '2018-12-03', '2018-12-04',
               '2018-12-05', '2018-12-06', '2018-12-07', '2018-12-08',
               '2018-12-09', '2018-12-10', '2018-12-11', '2018-12-12',
               '2018-12-13', '2018-12-14', '2018-12-15', '2018-12-16',
               '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20',
               '2018-12-21', '2018-12-22', '2018-12-23', '2018-12-24',
               '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28',
               '2018-12-29', '2018-12-30', '2018-12-31'],
              dtype='datetime64[ns]', freq='D')

In [47]:
pd.Series([1,'a', np.nan,True])

0       1
1       a
2     NaN
3    True
dtype: object

In [55]:
#See How it makes it 0 or 1 in np.ndarray because its supposed to be homogenous
np.array([1, 5.0, 123, False])# It becomes float here

array([   1.,    5.,  123.,    0.])

In [56]:
np.array([1, 5.0, 123, 'Hmm', False])

array(['1', '5.0', '123', 'Hmm', 'False'],
      dtype='<U32')